<footer class="container">

    <section class="footer">  
        <div class="home-img">
          <a href="https://twitter.com/Zichdan_" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a>
          <a href="https://www.facebook.com/daniel.okorie.3517" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a>
          <a href="https://www.linkedin.com/in/daniel-ezichi/" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a>
          <a href="https://github.com/zichdan" class="github" target="_blank"><i class='bx bxl-github'></i></a>
        </div>


        <div class="footer-text">
          <p class="footer-text">Copyright Cutle Tech<script> 
            document.write(new Date().getFullYear());
            </script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="footer-text" href="https://altschoolafrica.com/schools/engineering" target="_blank" 
            >AltSchool Africa</a>
          </p>  
        </div>
  </section>  
</footer>