{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
<section class="container">
  {% if current_user.is_authenticated %}
  <h2>Welcome to Cutle Tech, {{ current_user.username }}! <span class="wave">👋🏾</span></h2>
  {% else %}
  <h2>Welcome to Cutle Tech! <span class="wave">👋🏾</span></h2>
  {% endif %}
    
  <h3>"Cutle The Best Cutting Edge Tool."</h3>
  
  <p>This is what inspires the team at Cutle</p>
    
  <p>In today's world, it's as important as keeping Urls short and brief.</p> 
    
  <p>Cutle is a simple Tech tool which makes URLs as short as possible</p>

  <p>Cutle converts long URLs into easily sharable QR codes and short, customizable links</p>
</section>
{% endblock content %}