<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename= 'css/main.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/style.css')}}">

    <title>{% block title %}{% endblock title %} - Cutle</title>
    <link 
      rel="shortcut icon"
      href="{{ url_for('static', filename='scissor-logo/favicon.ico') }}"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  </head>
  <body>
    
    {% include "_headers.html" %}


    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container">
      {% for message in messages %}
      <p>{{ message }} <a href="{{request.path}}">Dismiss</a></p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <main>{% block content %}{% endblock content %}</main>
    <br>
    <br>


    {% include "_footer.html" %}

    
  </body>
</html>
